@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.tide-watch, body {
  color: white;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  text-transform: lowercase;
  display: grid;
  background-color: #1a1a1a;
}

.tide-watch, h4 {
  margin: 3px;
}

.location p {
  margin: 0;
}



